<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="simple-alarm-cordova-plugin"
    version="1.0.0">
    <name>Simple Alarm Cordova Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="SimpleAlarmCordovaPlugin" />
      </js-module>

      <framework src="com.android.support:appcompat-v7:26.1.0"/>

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="SimpleAlarmCordovaPlugin">
          <param name="android-package" value="com.servehttp.janiserver.SimpleAlarmCordovaPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/*">

        <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

        <receiver
          android:name="com.servehttp.janiserver.AlarmReceiver"
          exported="false"/>

        <service
          android:name="com.servehttp.janiserver.RingtoneService"
          exported="false"/>

      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest/application">

        <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

        <receiver
          android:name="com.servehttp.janiserver.AlarmReceiver"
          exported="false"/>

        <service
          android:name="com.servehttp.janiserver.RingtoneService"
          exported="false"/>

      </config-file>

      <source-file src="src/android/com/servehttp/janiserver/SimpleAlarmCordovaPlugin.java" target-dir="src/com/servehttp/janiserver/" />
      <source-file src="src/android/com/servehttp/janiserver/SimpleAlarm.java" target-dir="src/com/servehttp/janiserver/" />
      <source-file src="src/android/com/servehttp/janiserver/RingtoneService.java" target-dir="src/com/servehttp/janiserver/" />
      <source-file src="src/android/com/servehttp/janiserver/AlarmReceiver.java" target-dir="src/com/servehttp/janiserver/" />

    </platform>

    <!-- ios -->
    <!-- <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">id
            <runs/>
            <clobbers target="MyCordovaPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MyCordovaPlugin">
                <param name="ios-package" value="MyCordovaPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MyCordovaPlugin.h" />
        <source-file src="src/ios/MyCordovaPlugin.m" />
    </platform> -->
</plugin>
